<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <%- include('../partials/header') %>
</header>

<main class="container-fluid">
  
  <div class="alert alert-warning mt-3 text-center" role="alert">
  The World Cup Is Over - <a href="/calculate">View The Results Now</a>

</div>
  
  <h4 class="text-center">
    <% let date_today = new Date(); date_today += "" %>
    <%= date_today.substring(0,15) %>
  </h4>
  <h1 class="text-center">
    <%= "Welcome " + user.username %>
  </h1>
  
  <h3>
    Results
  </h3>
  
<div class="row">
  <% game.forEach(function(game){ %>
  <div class="col">
    <%- include('../partials/game_chart', {game: game}) %>
  </div>
  <% }); %>
</div>

  
  <br>
  <br>
  
  <h3>
    Bets
  </h3>
  
<div class="row">
  <% game.forEach(function(game){ %>
  <div class="col">
    <%- include('../partials/bet_chart', {game: game, user:user}) %>
  </div>
  <% }); %>
</div>
  

</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="client.js"></script>
</body>
</html>
